:root {
    --primario: #be4747;
    --secundario: #b0b0b0;
    --terciario: #e5ac49;
    --gris_muy_claro: #cfcfcf;

    --music: #a53b3b;
    --music_hover: #692121;
    --spotify: #42c05b;
    --spotify_hover: #175415;

    --transision_bled: all 0.7s ease-in-out;
    --transision_hover: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn_full {
    opacity: 0;
    position: fixed;
    margin: 1rem;
    background-color: var(--secundario);
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transision_hover);

    &:hover,
    &:focus {
        opacity: 1;
        border-color: var(--primario);
        background-color: var(--primario);
        color: white;

    }
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    background-color: #0000009c;
    height: 90dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    header {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.6rem;

        .titulo {
            position: relative;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 45ch;
        }

        .warning {
            color: var(--terciario);
        }

        .songs {
            display: grid;
            gap: 0.4rem;

            h3 {
                margin: 0;
                padding: 0;
                font-size: 1.4rem;
                font-weight: 300;
                color: var(--gris_muy_claro);
            }

            code {
                font-size: 1.2rem;
                font-style: italic;
                color: var(--primario);
            }
        }

        span {
            font-size: 1.2rem;

            a {
                color: var(--secundario);

                &:hover,
                &:focus {
                    color: var(--primario);
                    font-style: italic;
                }
            }

        }

        button {
            background-color: var(--secundario);
            padding: 0.7rem 1rem;
            border-radius: 0.4rem;
            font-style: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 75%;
            font-size: 16px;

            &:hover,
            &:focus {
                border-color: var(--primario);
                background-color: var(--primario);
                color: white;

            }
        }
    }
}

.tooltips{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    
    .tooltip{
        
        width: max-content;
        max-width: 100%;
        transform: translate(-100%, -100%);
        position: fixed;
        background-color: var(--secundario);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem 4rem;
        border-radius: 0.4rem;

        span{
            font-size: 15px;
        }

        h3{
            font-size: 20px;
            font-weight: normal;
        }
        
        h5{
            font-size: 16px;
            font-style: italic;
        }

        section{
            display: flex;
            align-items: center;
            gap: .4rem;
            margin-top: .4rem;

            a{
                text-decoration: none;
                padding: .3rem .5rem;
                border-radius: .4rem;
            }
            .spotify{
                background: var(--spotify);
                color: black;
                transition: var(--transision_hover);

                &:hover,
                &:focus {
                    background: var(--spotify_hover);
                }
            }
            .youtube_music{
                background: var(--music);
                color: black;
                transition: var(--transision_hover);

                &:hover,
                &:focus {
                    background: var(--music_hover);
                }
            }
        }
    }
}

.disabled {
    visibility: hidden;
    opacity: 0;
    transition: var(--transision_bled);
}

.enabled {
    visibility: visible;
    opacity: 1;
    transition: var(--transision_bled);
}

@media (max-width: 800px) {
    .titulo {
        font-size: 20px;
        max-width: 40ch;
    }

    * {
        font-size: 16px !important;
    }
}

@media (max-width: 600px) {
    .titulo {
        font-size: 14px;
        max-width: 35ch;
    }

    * {
        font-size: 12px !important;
    }

    .btn_close {
        font-size: 12px;
    }
}