:root {
    --primario: #be4747;
    --secundario: #b0b0b0;
    --terciario: #e5ac49;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#musiquita{
    display: none;
}

.btn_full {
    position: fixed;
    margin: 1rem;
    background-color: var(--secundario);
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        border-color: var(--primario);
        background-color: var(--primario);
        color: white;

    }
}

.container {
    /* display: none; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    height: 90dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    header {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        .titulo {
            position: relative;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 55ch;
        }

        .warning{
            color: var(--terciario);
        }
        span {
            font-size: 1.2rem;

            a {
                color: var(--secundario);

                &:hover,
                &:focus {
                    color: var(--primario);
                    font-style: italic;
                }
            }

        }

        code {
            font-style: italic;
            color: var(--primario);
        }

        button {
            background-color: var(--secundario);
            padding: 0.7rem 1rem;
            border-radius: 0.4rem;
            font-style: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 75%;

            &:hover,
            &:focus {
                border-color: var(--primario);
                background-color: var(--primario);
                color: white;

            }
        }
    }
}

@media (max-width: 800px) {
    .titulo{
        font-size: 20px;
        max-width: 40ch;
    }

    * {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .titulo{
        font-size: 14px;
        max-width: 35ch;
    }

    * {
        font-size: 12px;
    }
    .btn_close {
        font-size: 12px;
    }
}